<h1>Hello from Rails!</h1>
<p>
  Сейчас  <%= Time.now %>
</p>
<p>
Say <a href="/pr1/say/goodbye">Goodbye</a>!
</p>

   <p>
        <%= link_to "А это динамика", say_goodbye_path %>
   </p>
